
body {
  padding-top: 2em;
  background-color: #252525;
  color: #ccc;
  font-family: 'Gill Sans', sans-serif;
}

h1, h2, h3, h4 { margin: 0; padding: 0; }

h1 {
  text-align: center;
}

.album {
  min-height: 200px;
  margin-top: 2em;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border: 2px solid #7f412d;
  background-color: #3a2e2a;
}

.album img {
  float: right;
  width: 200px;
  height: 200px;
  margin-left: 1em;
  border: 2px inset #333;
}

a {
  color: #FF6633;
}

table {
  margin: 2em auto auto auto;
}

ol {
  margin-left: 2em;
  line-height: 1.5;
  text-align: left;
}

th {
  font-size: 150%;  
}

td {
  width: 33em;
}

.search {
  width: 371px;
  margin: 3em auto auto auto;
}

.search form {
  margin-top: 2em;
  width: 100%;
  text-align: center;
}

input {
  border: 2px solid #7f412d;
  background-color: #3a2e2a;
  color: #ccc;
  font-size: large;
  padding: 0.4em;
}