body {
	background: #252525 url(gfx/bodybg.gif);
	font-family: "Trebuchet MS", Tahoma, Arial, Verdana;
	font-size: 12px;
	margin: 20px;
	padding: 0px;
	color: #CCC;
}

h1, h2, h3, h4, h5, h6, form, input, textarea, p, a, ol, ul, li, img, blockquote {
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS", Tahoma, Arial, Verdana;
}

ul {
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	list-style:square;
	color: #FFCC66;
}
li {
	margin-bottom: 8px;
}
a {
	color: #FF6633;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	margin-bottom: 20px;
}

p {
	margin-bottom: 10px;
}

span.y { color: #FFCC66; }
span.o { color: #FF6633; }

#content {
	width : 500px;
}

div.note {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px;
	background: #3a2e2a;
	border: 1px solid #7f412d;
}
#downloads {
	position: absolute;
	top: 10px;
	right: 20px;
	color: #383838;
	text-align: right;
	font-size: 50px;
	font-weight: bold;
}
#downloads span {
	position: relative;
	top: -12px;
	font-size: 14px;
}
#subscribe_emailerror, #subscribe_thanks, #subscribe_existing, #subscribe_oknotclicked {
	display: none;
	color: #FFCC66;
}
form {
	display: inline;
}
#email {
	height: 18px;
	border: none;
	background-color: #2c201c;
	border: 1px solid #7f412d;
	color: #FFCC66;
	font-size: 11px;
	width: 175px;
}
#email_submit {
	position: relative;
	top: 5px;
}