
body {
  background-color: #555;
  color: #ccc;
  font-family: monospace;
}

a:link {
  color: lightgray;
}

a:visited {
  color: white;
}

h1, h2, h3, h4 { margin: 0; padding: 0; }

h1 {
  text-align: center;
}

table {
//  border: 2px solid;
  margin: 2em auto auto auto;
}

ol {
//  border: 2px solid;
  margin-left: 2em;
  line-height: 1.5;
  text-align: left;
}

th {
  font-size: 150%;  
}

td {
  width: 33em;
}
