
.album
  %img{ :src => art_url_for(album.id), :alt => album.name }
  %h2
    = album_link(album)
  %ol
    - album.tracks.each do |track|
      %li
        %a.track{ :href => "javascript:parent.player.playTrack (#{track.id})" }
          = track.name
