
%html{html_attrs}
  %head
    %script{ :src => '/script/prototype-1.6.0.3.js', :type => 'text/javascript' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/css/index.css' }
  %frameset{ :cols => '20%, 80%' }
    %frame{ :name => 'player', :src => '/player' }
    %frame{ :name => 'content-frame', :src => '/search' }
