
%html{html_attrs}
  %head
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/css/search.css' }
  %body
    %h1= "Search results for &quot;" + artist_name + "&quot;."
    %ol
      - artists.each do |artist|
        %li
          %a{:href => "/artist/" + artist.name}= artist.name
