
%html{html_attrs}
  %head
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/css/index.css' }
  %body
    .search
      %img{ :src => '/img/logo.jpg', :alt => 'WAREZ' }
      %form{ :method => 'post', :action => '/' }
        %input{ :type => 'text', :name => 'search' }
        %input{ :type => 'submit', :value => 'Search' }


